{% extends 'base.html.twig' %}

{% block content %}

	<div class="general_section">
		<div class="online_section">

			<p class="online_title">
				<i class="fa-solid fa-user"></i>
				Online Users</p>
			<div
				class="online">
				{# ONLINE USERS :  #}

				{% for user in onlineUsers %}
					{% if user.status is defined %}
						{% else %}
							<div class="useractive ">
								{{ user.firstname }}
								{{ user.lastname}}
							</div>
					{% endif %}
				{% endfor %}

				{# AWAY USERS :  #}

				{% for user in onlineUsers %}
					{% if user.status is defined %}
						{% if user.status == "away" %}
							<div class="useractive away">
								{{ user.firstname }}
								{{ user.lastname}}<span class="ago">{{ user.active }}</span>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}

			</div>
			{# OFFLINE USERS :  #}

			<p class="online_title">
				<i class="fa-solid fa-user"></i>
				Offline Users</p>
			<div class="online">
				{% for user in onlineUsers %}
					{% if user.status is defined %}
						{% if user.status == "offline" %}
							<div class="useractive offline">{{ user.firstname }}
								{{user.lastname}}
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}


			</div>
		</div>
		<div class="chat_section">
			<div class="messenger">
				<p class="messenger_title">
					<i class="fa-solid fa-earth-europe"></i>
					General Chat</p>
				{% include 'websocket/index.html.twig' %}
			</div>
		</div>
	</div>
	<style>
	.messenger_title{
		    border: #525252 1px solid;
			border-top-left-radius:6px;
			border-top-right-radius:6px;
	}
		.messenger {
			background-color: #303030;
			box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
			border-radius: 6px;
			margin: 2%;
			height: 100%;
		}

		.general_section {
			display: flex;
			justify-content: space-around;
			height: 70vh;
		}
		.online_section {
			width: 20%;
			margin: 2%;
			
		}

		.chat_section {
			width: 60%;
			height: 100%;
		}

		#chat {
			border-left: #525252 1px solid;
			border-right: #525252 1px solid;
    		height: 100%;
			background-color: #303030;
		}
		.message_send {
			width: 100%;
			margin:0;
		}

		@media screen and (max-width: 850px) {
			body{
				    overflow: hidden;
			}
			.general_section {
				display: block;
			}
			.online_section {
				display: none;
			}
			.chat_section {
				width: 100%;
				height: 90%;
			}
			.messenger{
				margin: 0%;
    			height: 100%;
    			position: fixed;
    			width: 100vw;
				top: 44px;
			}
			.message_send {
    			position: fixed;
    			width: 100%;
    			margin: 0;
    			bottom: 0px;
    			left: 0px;
				height: 42px;
			}
			#chat{
				    padding-bottom: 150px;
			}
			.messenger_title {
    			border: #525252 px solid;
   				 border-top-left-radius: 0px;
    			border-top-right-radius: 0px;
			}


		}
	</style>
{% endblock %}
