{% block content %}
	<div id="chat" class="custom-scroll"></div>
	<div class="form-group message_send">
		<input type="text" id="message">
		<button type="button" class="message_btn" id="sendBtn">
			<i class="fa-solid fa-paper-plane"></i>
		</button>
	</div>
	<script>
		const websocketUrl = "{{ websocket }}";
		const websocketToken = "{{ websocket_token }}";
		const chatAddUrl = "{{ path('chat_add', {channel: getEnv('CHAT_GLOBAL')}) }}";
		const chatGetUrl = "{{ path('chat_get', {channel:getEnv('CHAT_GLOBAL')}) }}";
		const chatGlobalChannel = "{{ getEnv('CHAT_GLOBAL') }}";
		const currentId = "{{ user.id }}";
	</script>
{% endblock %}
