
<head>
	<title>@a2urbex</title>
		<link rel="icon" type="image/ico" href="https://a2urbex.eu/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="manifest" href="../manifest.json">

    <link href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.22.2/dist/apexcharts.min.js"></script>

		{% block stylesheets %}
    		{{ encore_entry_link_tags('status-style') }}
    {% endblock %}

    {% block javascripts %}
			  {{ encore_entry_script_tags('status-script') }}
    {% endblock %}
</head>
{% block content %}
<body>
    <div class="stats">
        {# REGISTERED USERS  #}
        <div class="stats__container block">
            <div class="stats-image user"><i class="fa-solid fa-user"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{user_count}}</p>
                <p class="stats-content-text">Users</p>
            </div>
        </div>
        {# PINS #}
        <div class="stats__container block">
            <div class="stats-image location"><i class="fa-solid fa-location-pin"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{location_count}}</p>
                <p class="stats-content-text">Locations</p>
            </div>
        </div>
        {# ACTIVES USERS #}
        <div class="stats__container block">
            <div class="stats-image online"><i class="fa-solid fa-globe"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{category_count}}</p>
                <p class="stats-content-text">Categories</p>
            </div>
        </div>
        {# TEST #}
        <div class="stats__container block">
            <div class="stats-image test"><i class="fa-solid fa-mountain-sun"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{country_count}}</p>
                <p class="stats-content-text">Countries</p>
            </div>
        </div>
    </div>

    <div class="block map__container">
    <i class="fa-solid fa-circle-info info-open"></i>
        <div class="map" id="map">
            
        </div>
        <div class="map-info">
            <i class="fa-solid fa-circle-xmark info-close"></i>
            <div class="info-loading">
                <p class="info-loading-title">Fetching</p>
                <div class="progress-bar-container"><div class="progress-bar percentage-bar blue"></div></div> 
                <div class="map-percentage-text info-loading-text">Standby</div>
            </div>
            <div class="info-loading">
                <p class="info-loading-title">Processing</p>
                <div class="progress-bar-container"><div class="progress-bar processing-bar orange"></div></div> 
                <div class="map-processing-text info-loading-text">Standby</div>
            </div>
            <div class="info-loading">
                <p class="info-loading-title">Zoom</p>
                <div class="map-zoom-text info-loading-text">{{wikimapia_zoom}}</div>
            </div>
            <div class="info-loading">
                <p class="info-coordinates-title">Coordinates</p>
                <div class="map-coordinates-text info-loading-text">X:0 Y:0</div>
            </div>
            <div class="info-loading">
                <p class="info-loading-title">Map size</p>
                <div class="map-size-text info-loading-text"> ({{2 ** (wikimapia_zoom - 2)}} x {{2 ** (wikimapia_zoom - 2)}})</div>
            </div>

            <div class="info-loading">
                <p class="info-loading-title">Processed</p>
                <div class="map-processed-text info-loading-text">0 / {{wikimapia_pending_count}}</div>
            </div>
            <div class="info-loading">
                <p class="info-loading-title">Finished</p>
                <div class="map-finished-text info-loading-text">{{wikimapia_finished_count}}</div>
            </div>
        </div>
    </div>

     <div class="block map__container charts">
      <div class="sources" id="chart_category"><i class="fa-solid fa-circle-chevron-left"></i></div>
       <div class="category" id="chart_sources"><i class="fa-solid fa-circle-xmark category-close"></i></div>
     </div>

    <script>
        const websocketUrl = "{{ websocketUrl() }}"
    </script>


    {# TODO : rework this script #}
        <script>
        window.Apex = {
  chart: {
    foreColor: '#ccc',
    toolbar: {
      show: false
    },
  },
  stroke: {
    width: 3
  },
  dataLabels: {
    enabled: false
  },
  tooltip: {
    theme: 'dark'
  },
  grid: {
    borderColor: "#535A6C",
    xaxis: {
      lines: {
        show: true
      }
    }
  }
};


document.addEventListener("DOMContentLoaded", function() {
  var colors = ['#5B93FF', '#FF906B', '#FFC226', '#605BFF'];
  
  var options = {
    series: [{
        name : 'Count',
      data: [{{ pinterest_count }}, {{ globalmap_count }}, {{ userl_count }}, {{ kml_count }}]
    }],
    chart: {
      height: 200,
      type: 'bar',
      events: {
        click: function(chart, w, e) {
        }
      }
    },
    colors: colors,
    plotOptions: {
      bar: {
        columnWidth: '45%',
        distributed: true,
      }
    },
    dataLabels: {
      enabled: false
    },
    legend: {
      show: false
    },
    xaxis: {
      categories: [
        ['Pinterest'],
        ['Globalmap'],
        ['Users'],
        ['KML/KMZ'],
      ],
      labels: {
        style: {
          colors: colors,
          fontSize: '12px'
        }
      }
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart_sources"), options);
  chart.render();
});

document.addEventListener("DOMContentLoaded", function() {

  var options = {
    series: [{
    name: 'Urbex',
    data: [{{ castle }}, {{hostel}}, {{cinema}}, {{train}}, {{hospital}}, {{house}}, {{factory}}, {{building}}, {{restaurant}}, {{military}}],
  }],
    chart: {
    height: '300px',
    width: '300px',
    type: 'bar',
  },
  colors: ['#FF5733'],
  xaxis: {
    categories: ['Castle', 'Hostel', 'Cinema', 'Train', 'Hospital', 'House', 'Factory', 'Building', 'Restaurant', 'Military']
  }
  };

  var chart = new ApexCharts(document.querySelector("#chart_category"), options);
  chart.render();
});

</script>

</body>
{% endblock %}

