
<head>
	<title>@a2urbex</title>
		<link rel="icon" type="image/ico" href="https://a2urbex.eu/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="manifest" href="../manifest.json">

		{% block stylesheets %}
    		{{ encore_entry_link_tags('status-style') }}
        {% endblock %}

        {% block javascripts %}
			{{ encore_entry_script_tags('status-script') }}
        {% endblock %}
</head>
{% block content %}
<body>
    <div class="stats">
        {# REGISTERED USERS  #}
        <div class="stats__container block">
            <div class="stats-image user"><i class="fa-solid fa-user"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{user_count}}</p>
                <p class="stats-content-text">Users</p>
            </div>
        </div>
        {# PINS #}
        <div class="stats__container block">
            <div class="stats-image location"><i class="fa-solid fa-location-pin"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{location_count}}</p>
                <p class="stats-content-text">Locations</p>
            </div>
        </div>
        {# ACTIVES USERS #}
        <div class="stats__container block">
            <div class="stats-image online"><i class="fa-solid fa-globe"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{category_count}}</p>
                <p class="stats-content-text">Categories</p>
            </div>
        </div>
        {# TEST #}
        <div class="stats__container block">
            <div class="stats-image test"><i class="fa-solid fa-mountain-sun"></i></div>
            <div class="stats-content">
                <p class="stats-content-title">{{country_count}}</p>
                <p class="stats-content-text">Countries</p>
            </div>
        </div>
    </div>

    <div class="block map__container">
        <div class="map" id="map"><i class="fa-solid fa-circle-info"></i></div>
        <div class="map-info">
        <i class="fa-solid fa-circle-xmark"></i>
            <div class="info-loading map-percentage">
                <p class="info-loading-title">Fetch</p>
                <div class="progress-bar-container"><div class="progress-bar percentage-bar blue"></div></div> 
                <div class="map-percentage-text info-loading-text">Standby</div>
            </div>
            <div class="info-loading map-percentage">
                <p class="info-loading-title">Processing</p>
                <div class="progress-bar-container"><div class="progress-bar processing-bar orange"></div></div> 
                <div class="map-processing-text info-loading-text">Standby</div>
            </div>
            <div class="info-loading map-percentage">
                <p class="info-loading-title">Zoom</p>
                <div class="map-zoom-text info-loading-text">{{wikimapia_zoom}}</div>
            </div>
            <div class="info-loading map-percentage">
                <p class="info-coordinates-title">Coordinates</p>
                 <div class="map-coordinates-text info-loading-text">X:0 Y:0</div>
            </div>
            <div class="info-loading map-percentage">
                <p class="info-loading-title">Map size</p>
                <div class="map-size-text info-loading-text"> ({{2 ** (wikimapia_zoom - 2)}} x {{2 ** (wikimapia_zoom - 2)}})</div>
            </div>
        </div>
    <div>

    <script>
        const websocketUrl = "{{ websocketUrl() }}"
    </script>
</body>
{% endblock %}

