{% extends 'base.html.twig' %}
{% block content %}
	<div class="profile__container" style="background-image:url('{% if user.banner %}{{user.banner}}{% else %} /assets/default_banner.png {% endif %}')">
		<div class="profile__container-header">
			<div class="profile__container-banner" style="background-image:url('{% if user.banner %}{{user.banner}}{% else %}  /assets/default_banner.png {% endif %}')">{% if connected_user.id == user.id %}<a class="profile__container-banner-edit" href="{{ path('app_account') }}"><i class="fa-solid fa-pen-to-square"></i> Edit profile </a>{% endif %}</div>
			<div class="profile__container-infos">
				<div class="profile__container-infos-socials">
					{% if user.instagram %}
						<a href="https://instagram.com/{{ user.instagram }}">
							<i class="fa-brands fa-instagram"></i>
						</a>
					{% endif %}
					{% if user.tiktok %}
						<a href="https://www.tiktok.com/@{{ user.tiktok }}">
							<i class="fa-brands fa-tiktok"></i>
						</a>
					{% endif %}
					{% if user.youtube %}
						<a href="{{ user.youtube }}">
							<i class="fa-brands fa-youtube"></i>
						</a>
					{% endif %}
				</div>
				<div class="profile__container-infos-picture" style="background-image:url('{% if user.image %}{{user.image}}{% else %} /assets/default_profile.png {% endif %}')"></div>
				<div class="profile__container-infos-add">
				{% if connected_user.id != user.id %}
				<a href="{{ path('app_friend_add', {'id' : user.id, 'async': '1'} )}}" class="profile__container-infos-add-item add_friend {% if friend_status == 'not_friend' %}show{% endif %}">
					<i class="fa-solid fa-user-plus"></i> <span>Add friend</span>
				</a>
				<a href="{{ path('app_friend_remove', {'id' : user.id, 'async': '1'} )}}" class="profile__container-infos-add-item remove_friend {% if friend_status == 'friend' %}show{% endif %}">
					<i class="fa-solid fa-user-plus"></i> <span>Remove</span>
				</a>
				<a class="profile__container-infos-add-item pending_friend {% if friend_status == 'pending' %}show{% endif %}">
					<i class="fa-solid fa-user-plus"></i> <span>Pending</span>
				</a>
				{% endif %}
				</div>
			</div>
			<p class="profile__container-name">{{ user.firstname }}<span>#{{ user.id }}</span>{% if 'ROLE_ADMIN' in  user.roles %} <i class="fa-solid fa-shield-halved" title="Admin"></i>{% endif %}
			</p>
		</div>
	</div>
	<div class="profile__container-content">
		<div class="profile__container-content-stats">
		<h3 class="profile__container-content-stats-title">Stats</h3>
			<p><i class="fa-sharp fa-solid fa-location-pin"></i> {{ urbex_count }} pin{% if urbex_count > 1 %}s{% endif %}</p>
			<p><i class="fa-sharp fa-solid fa-heart-circle-plus"></i> {{ favorites_count }} list{% if favorites_count > 1 %}s{% endif %}</p>
			<p><i class="fa-solid fa-user-group"></i> {{ friends_count }} friend{% if friends_count > 1 %}s{% endif %}</p>
		</div>
		<div class="profile__container-content-desc">
		{% if user.about %}
			{{ user.about }}
		{% else %}
			This user has not filled in his about section.
		{% endif %}
		</div>
	</div>

	{{ friend_status }}
{% endblock %}
