{% extends 'base.html.twig' %}
{% block content %}
	<form class="login-form" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<h1>Login</h1>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="email text-input" autocomplete="email" placeholder="Email" required autofocus>
		<input type="password" name="password" id="inputPassword" autocomplete="password" class="password text-input" placeholder="Password" required>
		<div class="remember-me form-check">
			<input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input"/>
			<label for="_remember_me" class="form-check-label">Keep me logged in</label>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="login" type="submit">
			<i class="fa-solid fa-right-to-bracket"></i>
			Login
		</button>
		<a class="register" href="/register">
			<i class="fa-solid fa-plus"></i>
			Create an Account
		</a>
	</form>
{% endblock %}
