<div class="online_section">

    {# ONLINE USERS :  #}
    <p class="online_title">
        <i class="fa-solid fa-user"></i>
        Online Friends
    </p>
    <div class="online">

        {% for user in onlineUsers %}
            {% if user.status is not defined %}
                <div class="useractive ">
                    {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span>
                </div>
            {% endif %}
        {% endfor %}

        {# AWAY USERS :  #}
        {% for user in onlineUsers %}
            {% if user.status is defined %}
                {% if user.status == "away" %}
                    <div class="useractive away">
                        {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span><span class="ago">{{ user.active }}</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    {# OFFLINE USERS :  #}
    <p class="online_title">
        <i class="fa-solid fa-user"></i>
        Offline Friends
    </p>
    <div class="online">
        {% for user in onlineUsers %}
            {% if user.status is defined %}
                {% if user.status == "offline" %}
                    <div class="useractive offline">
                        {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span><span class="ago">{{ user.active }}</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>


    {# EXPLORERS : #}
        <p class="online_title">
        <i class="fa-solid fa-user"></i>
        Explorers
    </p>
    <div class="online">
        {% for user in onlineUsers %}
            {% if user.status is not defined %}
                <div class="useractive ">
                    {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span>
                </div>
            {% endif %}
        {% endfor %}
        {% for user in onlineExplorers %}
            {% if user.status is defined %}
                {% if user.status == "away" %}
                    <div class="useractive away">
                        {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span><span class="ago">{{ user.active }}</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for user in onlineExplorers %}
            {% if user.status is defined %}
                {% if user.status == "offline" %}
                    <div class="useractive offline">
                        {{ user.firstname }}<span class="user_id_in_name">#{{ user.id }}</span><span class="ago">{{ user.active }}</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
