{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}a2urbex!{% endblock %}
{% block content %}

<header>
	<h1>Hey {{app.user.firstname}}!</h1>
	<p>
		Currently <b>{{location_count}}</b>	pins, located in <b>{{country_count}}</b> country and sorted in <b>{{category_count}}</b> categories
	</p>
</header>

<section>
	<div class="left">
		<div class="line">
			<div class="highlight">
				<p>Current time :</p>
				<div>{{current_time}}</div>
			</div>
			<div class="highlight">
				<p>Last updated :</p>
				<div>{{pinterest.update_date}}</div>
			</div>
		</div>

		<div class="line">
			<div class="highlight">
				<p>Last fetched :</p>
				<div>{{pinterest.fetch_date}}</div>
			</div>
		</div>

		<div class="line">
			<a class="btn btn-success{{ pinterest.fetch_lock == '1' ? ' disabled' : '' }}" id="fetch-pinterest">Fetch Pinterest</a>
			<a class="btn btn-success" href="{{ path('app_fetch_wikimapia') }}">Fetch Wikimapia</a>
			<a class="btn btn-warning" href="{{ path('app_fetch_wikimapia_pending') }}">Fetch Pending</a>
		</div>

		<div class="line">
			<a class="btn btn-primary" href="{{ path('app_update') }}">Update</a>
			<a class="btn btn-warning" href="{{ path('app_patch') }}">Patch</a>
		</div>

		<div class="line">
			<p>Wikimapia progress : x:{{wikimapia.x}} y:{{wikimapia.y}} ({{pending_count}})</p>
		</div>

		<div class="line">
			<div class="progress-bar-wrapper">
				<p class="progress-percent">Waiting...</p>
				<div class="progress-bar">
					<div class="progress-bar-thumb"></div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="right">
		<div class="line sm">
			<p>Output :</p>
		</div>

		<div class="line">
			<div class="output">
				<p>
					BoardId = {{pinterest.board}}<br>
					Status = {{pinterest.status}}<br>
					Error =	{{pinterest.error}}<br>
					Total Parsed = {{pinterest.total_pins}}<br>
					NewPins = {{pinterest.new_pins}}<br>
					---------
				</p>
				Key = {{pinterest.token}}
			</div>
		</div>
		
		<div class="line">
			<a href="{{ path('app_check_count') }}" class="btn btn-secondary">Check</a>
			<p>Waiting to be imported : {{pinterest.pin_to_import}}</p>
		</div>
	</div>
</section>

<section>
	<div class="left center">
		<div class="line sm">
			<p>General Chat :</p>
		</div>

		<div class="line">
			<input type="text" id="message" placeholder="Server Restart.." />
			<button class="btn btn-primary" id="message-admin">Send</button>
			<a class="btn btn-danger" href="{{ path('chat_clear_global')}}">Clear Chat</a>
		</div>
	</div>

	<div class="right">
		<div class="line sm">
			<p>Server Status :</p>
		</div>

		<div class="line">
			<p class="status offline websocket" data-offline="Currently Offline.." data-online="Online running on :">Currently Offline..</p>
			<div class="output">{{ websocket }}</div>
		</div>
	</div>
</section>

<section>
	<div class="left">
		<div class="line sm">
			<p>Import File :</p>
		</div>

		<div class="line">
			<a class="btn btn-success" href="{{ path('source_upload')}}">Import File</a>
			<a class="btn btn-primary source-run" data-href="{{ path('source_run', {id: 0})}}">Run</a>
			<a class="btn btn-danger source-delete" data-href="{{ path('source_delete', {id: 0})}}">Delete</a>
		</div>
	</div>

	<div class="right">
		<div class="line sm">
			<p>Sources ({{source_count}}) :</p>
		</div>

		<div class="line">
			<select class="output sources">
				<option disabled selected value="0">Select a source</option>
				{% for item in sources %}
					<option value="{{item.id}}">{{item.Name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</section>

<section>
	<div class="left">
		<div class="line sm">
			<p>Ai Generation ({{ai_wainting_count}} locations are waiting to be processed):<br></p>
		</div>

		<div class="line">
			<div class="highlight"><div>{{ai_count}} locations already generated</div></div>
		</div>

		<div class="line">
			<a class="btn btn-success{% if ai_status == false %} off{% endif %}" href="{{ path('app_image_generation')}}">Generate</a>
			<a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui" class="btn btn-secondary"	target="_blank">Documentation</a>
		</div>
	</div>

	<div class="right">
		<div class="line sm">
			<p>Server Status :</p>
		</div>

		<div class="line">
			{% if ai_status %}
				<p class='status online'>Running on Port : {{ ai_port }}</p>
			{% else %}
				<p class='status offline'>Currently offline..</p>
			{% endif %}
		</div>
	</div>
</section>

<section>
	<div class="left">
		<div class="line sm">
			<p>Cache :<br>
		</div>
		<div class="line">
			<button class="btn btn-danger" id="clear-cache-button">Clear Cache</button>
		</div>
		
	</div>
	<div class="right">
		<div class="line sm">
			<p>Database :</p>
		</div>
		<div class="line">
			<a href="{{ path('download_database') }}" class="btn btn-secondary " style="pointer-events:none;">Download Database</a>
		</div>
	</div>
</section>

<script>
	const websocketUrl = "{{ websocket }}";
	const websocketToken = "{{ websocket_token }}";
	const pinterestUrl = "{{ path('app_fetch_pinterest_async') }}";
	const chatAddAdminUrl = "{{ path('chat_add_admin') }}";
</script>

{% if app.environment == 'dev' %}
<script id="__bs_script__">
	(function() {
		try {
			const script = document.createElement('script')
			if ('async') script.async = true
			script.src = 'http://HOST:{{ getEnv('WEBPACK_ADMIN_PORT') }}/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname)
			if (document.body) document.body.appendChild(script)
			else if (document.head)	document.head.appendChild(script)
		} catch (e) {
			console.error("Browsersync: could not append script tag", e);
		}
	})()
</script>
{% endif %}
{% endblock %}
