{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
{# Hello #}
	<section class="heading-part text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Hey {{app.user.firstname}}!</h1><br>
			<p class="lead text-muted">Currently <b>{{pins}}</b> pins, located in <b>{{country}}</b> country and sorted in <b>{{type}}</b> categories</p>
		</div>
	</section>
{# Fetch #}
	<section class="fetch-part text-center">
		<div class="container">
			<p class="text-muted">Current time : <br> <div class="time">{{current_time}}</div></p>
			<p class="text-muted">Last Fetched : <br> <div class="time">{{last_fetched}}</div></p>
			<a class="action-new btn btn-primary" href="/fetch">Fetch Now</a>
			<a class="btn btn-secondary" href="https://www.pinterest.fr/patrimoine43/" target="_blank">Check Source</a>
		</div>
		<div class="output-area">
		<p class="text-muted">Output : </b></p>
		<div class="output">
		<p>BoardId = {{board}}<br>
		Status = {{finished}}<br>
		Error = {{error}}<br>
		Total Parsed = {{total}}<br>
		NewPins = {{newpins}}<br>---------</p>
		Key = {{token}}
		<div>
		</div>
	</section>

{# Stylesheets #}
<style>
.content-wrapper{ 
	margin: auto;
}

.content-wrapper{
	display:block;
}
.heading-part{
	width:100%;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    height: fit-content;
}
.fetch-part{
	display: flex;
	width:100%;
    padding: 2rem;
    margin-top: 1rem;
    border: 1px solid var(--sidebar-border-color);
    border-radius: 8px;
    height: fit-content;
}
.fetch-part > .container{
	width: 50%;
    text-align: left;
	border-right:1px solid var(--sidebar-border-color);
}

.time{
    padding-left: 4px;
    padding-right: 4px;
	padding-bottom : 1px;
    border-radius: 5px;
    font-size: 11px;
    background-color: var(--form-control-bg);
    border: 1px solid var(--form-input-border-color);
    height: fit-content;
    width: fit-content;
}
.output-area{
	width: 50%;
	padding-left: 40px;
    text-align: left;
}
.output{
	overflow: hidden;
	background-color: var(--form-control-bg);
	border : 1px solid var(--form-input-border-color);
    padding: 8px;
	padding-bottom:0;
    border-radius: 5px;
    font-size: 11px;
    height: fit-content;
}
@media screen and (max-width: 550px) {
  .fetch-part > .container {
	width: 100%;
	border-right:none;
	border-bottom:1px solid var(--sidebar-border-color);
	padding : 12px;
	padding-bottom: 30px;
  }
  .output-area {
	--bs-gutter-x: 1.5rem;
	width: 100%;
	padding: 12px;
	padding-top:20px;
  }
  .fetch-part{
  display:block;
  }
}

</style>

{% endblock %}