{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block content %}

{# IL FAUT ANIMER CA  #}
<div class="pin-open-search toggle"><i class="fa fa-fw fa-bars"></i></div>

<div class="pin-wrapper">
    <div class="pin-search-wrapper">
        <div class="pin-search"> {{form(form)}}<a href="/locations">Reset filters</a></div>
    </div>
    <div class="pin-wrapper-inner">
        <div class="pin-dd">
            <div class="pin-box">
                {% for location in location %}
                <div class="pin-container"> 
                <div class="pin-img" style="background-image:url('/img/locations/{{ location.image }}')"></div>
                <p class="pin-title">{{ location.name |u.truncate(70, '...') }}</p>
            
                <div class="pin-bottom-container">
                    <a class="pin-map" target="blank" href="https://www.google.com/maps?q={{ location.lon }},{{ location.lat }}"><i class="fa-solid fa-earth-europe"></i></a>
                    <p class="pin-id">id : {{ location.id }}</p>
                    {% if app.user %}
                    <div class="pin-edit">
                    <a href="{{ path('app_location_show', {'id': location.id}) }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a target="blank" href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CLocationCrudController&entityId={{ location.id }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
            </div>
                {% endif %}
                </div>

                
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
        </div>
    </div>
    <div class="pin-pagination">
        {{knp_pagination_render(location)}}
    </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(() => {
        $('.pin-open-search').on('click', () => {
            $('.pin-wrapper').toggleClass('menu-open')
        })
        $('.pin-search-wrapper').on('click', function(e) {
            if(e.target != this) return
            $('.pin-wrapper').removeClass('menu-open')
        })
    })
</script>
<style>
.pin-open-search{
    cursor: pointer;
    font-size: 17px;
    width: 1.25em;
    opacity:.5;
    color: #e5e5e5;
    position: fixed;
    top: 10px;
    z-index: 2000;
    left: 11px;
    display: none;
}

.pin-search-wrapper {
    height: calc(100% - 44px);
    position: fixed;
    top: 44px;
    left: 0px;
}

.pin-search{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 30px;
    border-right: 1px solid #303030;
    background-color: #232323;
    width: 250px;
}

/* width */
.pin-search::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.pin-search::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
.pin-search::-webkit-scrollbar-thumb {
  background: #404040;
  border: 3px solid #232323;
  border-radius: 10px;
}

/* Handle on hover */
.pin-search::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.sidebar {
    background-color: black;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#country{
    text-transform: capitalize;
}
#type{
    text-transform: capitalize;
}
.pin-container{
    display: block;
    width: 270px;
    border: 1px solid #404040;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    height: fit-content;
}
.pin-img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.pin-bottom-container{
    height: 24px;
    display: flex;
}
.pin-id{
    margin: auto;
    font-size: 10px;
    color: #8d8d8d;
}
.pin-map{
    padding-top: 5px;
    color: #8d8d8d;
     border-top-right-radius: 7px;
    border-right: 1px solid #ffffff59;
    padding-right: 10px;
}
.pin-edit{
    width: fit-content;
    color: #717171;
    float: right;
    border-top-left-radius: 7px;
    border-left: 1px solid #ff000059;
    padding-left: 10px;
}
.pin-edit > a{
    color: #8d8d8d;
}
.pin-title{
    font-size: 13px;
    padding-top: 10px;
}
.pin-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

}
.pin-pagination .pagination > span {
    padding: 0 5px;
}
.pin-pagination .pagination > span a {
    color: #999;
}

.pin-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
}

.pin-wrapper {

}
.pin-wrapper-inner {
    margin-left: 250px;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .pin-open-search {
        display: block;
    }
    .pin-wrapper-inner {
        margin-left: 0;
    }
    .pin-wrapper .pin-search-wrapper {
        width: 100%;
        background-color: rgba(0,0,0,0);
        transition: 1s;
        visibility: hidden;
        opacity: 0;
    }
    .pin-wrapper .pin-search-wrapper .pin-search {
        left: -250px;
        transition: all 1s;
    }

    .pin-wrapper.menu-open .pin-search-wrapper {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,.5);
    }
    .pin-wrapper.menu-open .pin-search-wrapper .pin-search {
        transform: translateX(100%);
    }
}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
