{% extends 'base.html.twig' %}

{% block title %}Location index
{% endblock %}

{% block content %}

	<div class="pin-open-search toggle">
		<i class="fa fa-fw fa-bars"></i>
	</div>

	<div class="pin-wrapper">
		<div class="pin-search-wrapper">
			<div class="pin-search">
				{{form(form)}}
					<a class="pin-search-reset" href="/locations">
						<i class="fa-sharp fa-solid fa-trash"></i>
					</a>
					<p class="pin-results">Displaying
						<b>{{total_result}}</b>
						Result(s)</p>
					<p class="online_title">
						<i class="fa-solid fa-user"></i>
						Online Users</p>
					<div class="online">
{# ONLINE USERS :  #}

                    {% for user in onlineUsers %}
                        {% if user.status is defined %}
                        {% else %}
									<div class="useractive ">
										{{ user.firstname }} {{ user.lastname}}
									</div>
                        {% endif %}
					{% endfor %}
 
 {# AWAY USERS :  #}

						{% for user in onlineUsers %}
							{% if user.status is defined %}
								{% if user.status == "away" %}
									<div class="useractive away">
										{{ user.firstname }} {{ user.lastname}}<span class="ago">{{ user.active }}</span>
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}

					</div>
{# OFFLINE USERS :  #}

					<p class="online_title">
						<i class="fa-solid fa-user"></i>
						Offline Users</p>
					<div class="online">
						{% for user in onlineUsers %}
							{% if user.status is defined %}
								{% if user.status == "offline" %}
									<div class="useractive offline">{{ user.firstname }}
										{{user.lastname}}
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="pin-wrapper-inner">
				{% include 'location/list.html.twig' %}
			</div>
		</div>
		<a href="{{ path('app_map_filter') }}" id="map-filter" class="map-link">
			<i class="fa-solid fa-map-location-dot"></i>
		</a>

	{% endblock %}
