{% extends 'base.html.twig' %}

{% block title %}Location index
{% endblock %}

{% block content %}

	<div class="pin-open-search toggle">
		<i class="fa fa-fw fa-bars"></i>
	</div>

	<div class="pin-wrapper">
		<div class="pin-search-wrapper">
			<div class="pin-search">
				{{form(form)}}
					<a class="pin-search-reset" href="/locations">
						<i class="fa-sharp fa-solid fa-trash"></i>
					</a>
					<p class="pin-results">Displaying
						<b>{{total_result}}</b>
						Result(s)</p>

					{{ include('security/online.html.twig') }}
				</div>
			</div>
			<div class="pin-wrapper-inner">
				{% include 'location/list.html.twig' %}
			</div>
		</div>
		<div class="messenger_icon">
			<div id="messenger_dot"></div>
			<i class="fa-solid fa-comment"></i>
		</div>

		<p class="first_location">Add a new pin!
			<i class="fa-solid fa-arrow-right"></i>
		</p>
		<a href="{{ path('new_location') }}" id="new-filter" class="new-link">
			<i class="fa-solid fa-plus"></i>
		</a>
		<a href="{{ path('app_map_filter') }}" id="map-filter" class="map-link">
			<i class="fa-solid fa-map-location-dot"></i>
		</a>
	</div>
	<div class="messenger">
		<p class="messenger_title">
			<i class="fa-solid fa-earth-europe"></i>
			General Chat</p>
		<div class="messenger_close">
			<i class="fa-solid fa-xmark"></i>
		</div>

		{% include 'websocket/index.html.twig' %}
	</div>
{% endblock %}
