<div class="pin-box">
	{% if locations|length %}
		{% for item in locations %}

			<div class="pin-container" {% if item.loc.disabled == 1 %} id="disabled" {% endif %}>
				<div class="pin-top-container">

					{% if item.loc.ai == 1 %}
						<i class="fa-solid fa-robot"></i>
					{% endif %}

					<a href="{{ path('app_location_show', {'key': hashLoc(item.loc.id) }) }}">
						{% if item.loc.image|default(null) %}
							<div class="pin-img" style="background-image:url('{{ item.loc.image }}')"></div>
						{% else %}
							<div class="pin-img" style="background-image:url('/assets/default.png')"></div>
						{% endif %}
						{% if app.user %}
							<p class="pin-title">{{ item.loc.name |u.truncate(50, '...') }}</p>
						{% endif %}
					</a>
					{% include 'favorite/_pin.html.twig' %}
				</div>

				<div class="pin-bottom-container">
					<div class="pin-user pin-action">
						<a class="waze" target="blank" href="https://waze.com/ul?q={{ item.loc.lat }},{{ item.loc.lon }}&navigate=yes&zoom=17'">
							<i class="fa-brands fa-waze"></i>
						</a>
						<a class="pin-map" target="blank" href="https://www.google.com/maps?t=k&q={{ item.loc.lat }},{{ item.loc.lon }}">
							<i class="fa-solid fa-earth-europe"></i>
						</a>
					</div>
					{% if item.loc.category %}
						<p class="pin-category">
							<span class="pin-category-icon">
								<i class="fa-solid {{ item.loc.category.icon }}"></i>
							</span>
							<span class="pin-category-text">{{ item.loc.category }}</span>
						</p>
					{% else %}
						<p class="pin-category">
							<span class="pin-category-icon">
								<i class="fa-solid fa-map-pin"></i>
							</span>
							<span class="pin-category-text">other</span>
						</p>
					{% endif %}
					{% if item.loc.comments %}
						<p class="pin-info-icon">
							<i class="fa-solid fa-triangle-exclamation"></i>
						</p>
					{% endif %}
					{% if item.loc.done %}
						<p class="pin-info-icon">
							<i class="fas fa-check-square"></i>
						</p>
					{% endif %}
					{% if app.user %}
						{% if (item.loc.user and app.user.id == item.loc.user.id) or ('ROLE_ADMIN' in app.user.roles) %}
							<div class="pin-edit pin-action">
								{% if item.loc.user and app.user.id == item.loc.user.id %}
									<a href="{{ path('app_location_edit', {'key': hashLoc(item.loc.id)}) }}">
										<i class="fa-solid fa-pen-to-square"></i>
									</a>
								{% elseif 'ROLE_ADMIN' in app.user.roles %}
									<a target="blank" href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CLocationCrudController&entityId={{ item.loc.id }}">
										<i class="fa-solid fa-pen-to-square"></i>
									</a>
								{% endif %}
								{% include 'location/_delete_form.html.twig' %}
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>

		{% endfor %}
	{% else %}
		{% if private|default(null) %}
			<p>This list is private</p>
		{% else %}
			<p>No records found</p>
		{% endif %}
	{% endif %}
</div>
<div class="pin-pagination">
	{{knp_pagination_render(locations)}}
</div>
