<div class="pin-box">
    {% if locations|length %}
    {% for item in locations %}
    {% set key = "#{item.loc.id}#{hashkey}" %}
    <div class="pin-container">
        <div class="pin-top-container">
            <a href="{{ path('app_location_show', {'key': key | hashids_encode }) }}">
                <div class="pin-img" style="background-image:url('/img/locations/{{ item.loc.image }}')"></div>
                {% if app.user %}
                <p class="pin-title">{{ item.loc.name |u.truncate(50, '...') }}</p><p class="pin-type" style="text-align:center;">{{ item.loc.type }}</p>
                {% else %}
                <p class="pin-title" style="text-align:center;">{{ item.loc.type.name }}</p>
                {% endif %}
            </a>
            {% include 'location/_pin_fav.html.twig' %}
        </div>

        <div class="pin-bottom-container">
        <div class="pin-user pin-action">
            <a class="pin-map" target="blank" href="https://www.google.com/maps?q={{ item.loc.lon }},{{ item.loc.lat }}"><i class="fa-solid fa-earth-europe"></i></a>
        </div>
        <p class="pin-id">key : {{ key | hashids_encode }}</p>
        
        {% if app.user %}
        <div class="pin-edit pin-action">
            <a target="blank" href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CLocationCrudController&entityId={{ item.loc.id }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        {% endif %}

        </div>
        </div>

    {% endfor %}
    {% else %}
    {% if private|default(null) %}
        This list is private
        {% else %}
        <p>No records found</p>
        {% endif %}
    {% endif %}
</div>
<div class="pin-pagination">
    {{knp_pagination_render(locations)}}
</div>