{% extends 'base.html.twig' %}
{% block content %}
	<div class="personal_locations">
		<div class="new_location">
		<p id="fileSize"></p>
		<p id="error"></p>
		 <div id="image-preview"></div>
			<p class="title_location">
				<i class="fa-solid fa-plus"></i>
				Create new Location</p>
			{{ form(form) }}
				<a href="" target="_blank" class="coordinates">
					Check coordinates</a>
			</div>

			<div class="my_locations">
				<p class="title_location my_locations">
					<i class="fa-solid fa-location-dot"></i>
					My Locations ({{ total_result }})</p>
				<div class="pin-box">
					{% if locations|length %}
						{% for item in locations %}
							{% set key = "#{item.loc.id}#{hashkey}" %}

							<div class="pin-container" {% if item.loc.disabled == 1 %} id="disabled" {% endif %}>
								<div class="pin-top-container">

									{% if item.loc.ai == 1 %}
										<i class="fa-solid fa-robot"></i>
									{% endif %}

									<a href="{{ path('app_location_show', {'key': key | hashids_encode }) }}">
										{% if item.loc.image|default(null) %}
											<div class="pin-img" style="background-image:url('{{ item.loc.image }}')"></div>
										{% else %}
											<div class="pin-img" style="background-image:url('/assets/default.png')"></div>
										{% endif %}
										{% if app.user %}
											<p class="pin-title">{{ item.loc.name |u.truncate(50, '...') }}</p>
										{% endif %}
									</a>
									{% include 'location/_pin_fav.html.twig' %}
								</div>

								<div class="pin-bottom-container">
									<div class="pin-user pin-action">
										{% if app.user %}
											{% if 'ROLE_ADMIN' in app.user.roles %}
												<a class="waze" target="blank" href="https://waze.com/ul?q={{ item.loc.lat }},{{ item.loc.lon }}&navigate=yes&zoom=17'">
													<i class="fa-brands fa-waze"></i>
												</a>
											{% endif %}
										{% endif %}
										<a class="pin-map" target="blank" href="https://www.google.com/maps?t=k&q={{ item.loc.lat }},{{ item.loc.lon }}">
											<i class="fa-solid fa-earth-europe"></i>
										</a>
									</div>
									{% if item.loc.type %}
										<p class="pin-type">
											<span class="pin-type-icon">
												<i class="fa-solid {{ item.loc.type.icon }}"></i>
											</span>
											<span class="pin-type-text">{{ item.loc.type }}</span>
										</p>
									{% else %}
										<p class="pin-type">
											<span class="pin-type-icon">
												<i class="fa-solid fa-map-pin"></i>
											</span>
											<span class="pin-type-text">other</span>
										</p>
									{% endif %}
									{% if item.loc.comments %}
										<p class="pin-info-icon">
											<i class="fa-solid fa-triangle-exclamation"></i>
										</p>
									{% endif %}
									{% if item.loc.done %}
										<p class="pin-info-icon">
											<i class="fas fa-check-square"></i>
										</p>
									{% endif %}
									{# <p class="pin-id">key : {{ key | hashids_encode }}</p> #}
												<div class="pin-edit pin-action">
												<a href="{{ path('app_location_edit', {'key': key | hashids_encode}) }}">
													<i class="fa-solid fa-pen-to-square"></i>
												</a>
												{% include 'location/_delete_form.html.twig' %}
											</div>

								</div>
							</div>

						{% endfor %}
					{% else %}
						{% if private|default(null) %}
							This list is private
						{% else %}
							<p>No records found</p>
						{% endif %}
					{% endif %}
				</div>
				<div class="pin-pagination">
					{{knp_pagination_render(locations)}}
				</div>
			</div>
		</div>

		<script>
			$(".coordinates").insertAfter("#new_location_lon");
			$(".coordinates").insertAfter("#location_lon");
$(document).ready(function () {
$("#new_location_lon, #new_location_lat").keyup(function () {
var lon = $("#new_location_lon").val();
var lat = $("#new_location_lat").val();
var link = "https://www.google.com/maps?t=k&q=" + lat + "," + lon
$(".coordinates").attr("href", link);
});
});
$(document).ready(function () {
$("#location_lon, #location_lat").keyup(function () {
var lon = $("#location_lon").val();
var lat = $("#location_lat").val();
var link = "https://www.google.com/maps?t=k&q=" + lat + "," + lon
$(".coordinates").attr("href", link);
});
});
function previewImage(event) {
  const input = event.target;
  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const preview = document.getElementById('image-preview');
      preview.style.backgroundImage = `url(${e.target.result})`;
      preview.style.backgroundSize = 'cover';
    }
    reader.readAsDataURL(input.files[0]);
  }
}
var fileInput = document.getElementById('new_location_image');
var fileSize = document.getElementById('fileSize');

fileInput.addEventListener('change', function() {
   if (fileInput.files.length > 0) {
    var sizeInBytes = fileInput.files[0].size;
    var sizeInMB = (sizeInBytes / 1000000).toFixed(2);
    fileSize.innerHTML = ' (Selected : ' + sizeInMB + 'MB,<span class="max-size"> Max 8MB</span>)' ;
  }
});


window.onload = function() {
var imagepreview = document.getElementById("image-preview");
var uploader = document.querySelector(".custom-file-label");
  uploader.appendChild(imagepreview);
var size = document.getElementById("fileSize");
var uploaderlabel = document.querySelector(".image-label-placeholder");
  uploaderlabel.appendChild(size);
var error = document.getElementById("error");
var formtype = document.querySelector("#new_location");
  formtype.appendChild(error);
}



const form = document.querySelector('form[name="new_location"]');
form.addEventListener('submit', function(event) {
    const fileInput = document.querySelector('#new_location_image');
    const fileName = fileInput.value;
    const fileExtension = fileName.split('.').pop().toLowerCase();
    if (!['jpg', 'jpeg', 'png'].includes(fileExtension)) {
        event.preventDefault();
        const errorMessage = '<span class="alert alert-danger d-block"><span class="d-block"><span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message">Invalid File Type.</span></span></span>';
        const errorElement = document.querySelector('#error');
        errorElement.innerHTML = errorMessage;
        const newLocationElement = document.querySelector('#new_location');
        newLocationElement.insertBefore(errorElement, newLocationElement.firstChild);
    }
});

</script>

	{% endblock %}
