{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block content %}
    <div class="pin-page">
        <div class="pin-page-img">
            {% if item.loc.image|default(null) %}
                <img src="{{ item.loc.image }}">
            {% else %}
            <img src="/assets/default.png">
            {% endif %}
            {% include 'favorite/_pin.html.twig' %}
        </div>
        <div class="pin-page-content">
                <p class="pin-page-title">{{ item.loc.name }}
                {% if item.loc.category %}
                <span class="pin-category">
                    {{ item.loc.name }}
                    <span class="pin-category-icon"><i class="fa-solid {{ item.loc.category.icon }}"></i></span>
                    <span class="pin-category-text">{{ item.loc.category }}</span>
                </span>
            {% else %}
                <span class="pin-category">
                    <span class="pin-category-icon"><i class="fa-solid fa-map-pin"></i></span>
                    <span class="pin-category-text">other</span>
                </span>
            {% endif %}
                </p>

            {% if item.loc.ai == 1 %}
                <div class="aigenerated"><i class="fa-solid fa-robot"></i> Ai Generated Image</div>
            {% endif %}

            {% if item.loc.comments|default(null) %}
                <div class="pin-warning">
                    <p><i class="fa-solid fa-triangle-exclamation"></i> : {{ item.loc.comments}}</p>
                </div>
            {% endif %}

            {% if item.loc.done|default(null) %}
                <div class="pin-done">
                    <p><i class="fas fa-check-square"></i> : This location has been done </p>
                </div>
            {% endif %}

            <div class="pin-action">
                <span class="pin-separator"></span>
                <a class="pin-waze pin-link" target="blank" href="https://waze.com/ul?q={{ item.loc.lat }},{{ item.loc.lon }}&navigate=yes&zoom=17'"><i class="fa-brands fa-waze"></i><span></span> Follow on Waze</a>
                <a class="pin-map pin-link" target="blank" href="https://www.google.com/maps?t=k&q={{ item.loc.lat }},{{ item.loc.lon }}"><i class="fa-solid fa-earth-europe"></i><span></span> View in Maps</a>
                <span class="pin-separator"></span>

                {% if app.user %}
                    {% if (item.loc.user and app.user.id == item.loc.user.id) or ('ROLE_ADMIN' in app.user.roles) %}
                        {% if item.loc.user and app.user.id == item.loc.user.id %}
                            <a class="pin-edit pin-link" href="{{ path('app_location_edit', {'key': hashLoc(item.loc.id)}) }}">
                                <i class="fa-solid fa-pen-to-square"></i><span></span> Edit
                            </a>
                        {% elseif 'ROLE_ADMIN' in app.user.roles %}
                            <a class="pin-edit pin-link" target="blank" href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CLocationCrudController&entityId={{ item.loc.id }}">
                                <i class="fa-solid fa-pen-to-square"></i><span></span> Edit
                            </a>
                        {% endif %}
                        <div class="pin-delete" >{% include 'location/_delete_form.html.twig' %} </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}