{% block content %}
	<div class="chat-icon">
		<div class="chat-dot"></div>
		<i class="fa-solid fa-comment"></i>
	</div>

	<div 
		id="chat-wrapper"
		data-addurl="{{ path('chat_add', {channel: 0}) }}"
		data-geturl="{{ path('chat_get', {channel: 0}) }}"
		data-getallurl="{{ path('chat_get_all') }}"
		data-channel="{{ getEnv('CHAT_CHANNEL') }}"
		data-user="{{ app.user.id }}"
	>
		<div class="chat-list">
			<div class="chat-header">
				<p class="chat-title"><i class="fa-solid fa-earth-europe"></i> Chats</p>
				<div class="chat-close"><i class="fa-solid fa-xmark"></i></div>
				<div class="chat-loading"><i class="fa-solid fa-spinner"></i></div>
			</div>
			<div class="chat-inner custom-scroll">
				<div class="item default">
					<div class="item-left">
						<div class="item-left-image"></div>
					</div>
					<div class="item-right">
						<p class="item-right-title"></p>
						<p class="item-right-message">
							<span class="item-right-message-text"></span>
							<span class="item-right-message-date"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="chat-messages">
			<div class="chat-header">
				<p class="chat-title">
					<span class="chat-title-image"></span>
					<span class="chat-title-text"></span>
				</p>
				<div class="chat-back"><i class="fa-solid fa-arrow-left"></i></div>
			</div>
			
			<div id="chat" class="custom-scroll">
				<div class='message default'>
					<p class='name'><span class="name-text"></span><span class="shield"><i class="fa-solid fa-shield-halved"></i></span></p>
					<p class='message-content'></p>
					<p class='message-date'></p>
				</div>
			</div>

			<div class="form-group message-send">
				<input type="text" id="message">
				<button type="button" class="message-btn" id="sendBtn">
					<i class="fa-solid fa-paper-plane"></i>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
