{% block content %}
	<div class="chat-icon">
		<div class="chat-dot"></div>
		<i class="fa-solid fa-comment"></i>
	</div>

	<div 
		id="chat-wrapper"
		data-addurl="{{ path('chat_add', {channel: 0}) }}"
		data-geturl="{{ path('chat_get', {channel: 0}) }}"
		data-getallurl="{{ path('chat_get_all') }}"
		data-channel="{{ getEnv('CHAT_CHANNEL') }}"
		data-user="{{ app.user.id }}"
	>
		<div class="chat-screen chat-default chat-list">
			<div class="chat-header">
				<p class="chat-title"><i class="fa-solid fa-earth-europe"></i> Chats</p>
				<div class="chat-action-wrapper right">
					<div class="chat-action chat-loading"><i class="fa-solid fa-spinner"></i></div>
					<div class="chat-action chat-new-button"><i class="fa-solid fa-plus"></i></div>
					<div class="chat-action chat-close"><i class="fa-solid fa-xmark"></i></div>
				</div>
			</div>
			<div class="chat-inner custom-scroll">
				<div class="item default">
					<div class="item-left">
						<div class="item-left-image"></div>
					</div>
					<div class="item-right">
						<p class="item-right-title"></p>
						<p class="item-right-message">
							<span class="item-right-message-text"></span>
							<span class="item-right-message-date"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="chat-items">
			<div class="chat-screen chat-item default">
				<div class="chat-header">
					<div class="chat-action-wrapper left">
						<div class="chat-action chat-close"><i class="fa-solid fa-angle-left"></i></div>
					</div>
					<p class="chat-title">
						<span class="chat-title-image"></span>
						<span class="chat-title-text"></span>
					</p>
					<div class="chat-action-wrapper right">
						<div class="chat-action chat-loading"><i class="fa-solid fa-spinner"></i></div>
						<a class="chat-action chat-info-button hidden" href="{{ path('chat_info', {channel: 0}) }}">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</div>
				</div>
				
				<div class="chat-inner custom-scroll">
					<div class='message default'>
						<p class='name'><span class="name-text"></span><span class="shield"><i class="fa-solid fa-shield-halved"></i></span></p>
						<p class='message-content'></p>
						<p class='message-date'></p>
					</div>
				</div>

				<div class="form-group message-form">
					<input type="text" class="message-input">
					<button type="button" class="message-send">
						<i class="fa-solid fa-paper-plane"></i>
					</button>
				</div>

				<div class="chat-screen chat-info">
					<div class="chat-header">
						<div class="chat-action-wrapper left">
							<div class="chat-action chat-close"><i class="fa-solid fa-angle-left"></i></div>
						</div>
					</div>

					<div class="chat-inner custom-scroll">
						<div class="chat-edit-title-wrapper default">
							<input type="text" class="chat-edit-title chat-edit-input" placeholder="Chat name" maxlength="50">
							<a href="{{ path('chat_title', {channel: 0}) }}" class="chat-edit-button chat-edit-title-button">
								<i class="fa-solid fa-check icon-confirm"></i>
								<i class="fa-solid fa-pen icon-edit"></i>
							</a>
						</div>

						<div class="chat-edit-image-wrapper default">
							<label for="chat-edit-image" class="chat-edit-image-label">
								<span class="text-default"><i class="fa-solid fa-image"></i> Image</span>
								<span class="text-editable"><i class="fa-solid fa-image"></i> <span class="chat-edit-image-type">Add</span> image <span class="max-size">(Max 2MB)</span></span>
								<input type="file" class="chat-edit-image" id="chat-edit-image" accept="image/png, image/jpg, image/jpeg">
							</label>

							<a href="{{ path('chat_image', {channel: 0}) }}" class="chat-edit-button chat-edit-image-button">
								<i class="fa-solid fa-check icon-confirm"></i>
								<i class="fa-solid fa-pen icon-edit"></i>
							</a>
							
							<div class="chat-edit-image-preview"></div>
						</div>

						<a 
							data-href="{{ path('app_user_modal', {'type': 'chat'}) }}" 
							data-adduserurl="{{ path('chat_user_add', {channel: 0, id: 0}) }}" 
							class="inmodal chat-edit-search"
						>
							<i class="fa-solid fa-user-plus"></i> Add user
						</a>

						<div class="chat-edit-users">
							<div class="item default">
								<div class="item-rename hidden">
									<input class="item-rename-input chat-edit-input">
									<a href="{{ path('chat_user_rename', {channel: 0, id: 0}) }}" class="item-rename-confirm">
										<i class="fa-solid fa-check"></i>
									</a>
									<a href="#" class="item-rename-close">
										<i class="fa-solid fa-xmark"></i>
									</a>
								</div>
								<div class="item-left">
									<div class="item-left-image"></div>
									<div class="item-left-names">
										<p class="item-left-pseudo"></p>
										<p class="item-left-username"></p>
									</div>
								</div>
								<div class="item-right">
									<a href="" class="item-right-rename">
										<i class="fa-solid fa-pen"></i>
									</a>
									<a href="" class="item-right-op hidden">
										<i class="fa-solid fa-star"></i>
									</a> 
									<a href="" class="item-right-delete hidden">
										<i class="fa-solid fa-trash"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="chat-screen chat-new">
			<div class="chat-header">
				<div class="chat-action-wrapper left">
					<div class="chat-action chat-close"><i class="fa-solid fa-angle-left"></i></div>
				</div>
				<p class="chat-title">Create new chat</p>
			</div>
			<div class="chat-inner custom-scroll">
				<input type="text" class="chat-edit-title chat-edit-input" placeholder="Chat name" maxlength="50">

				<div class="chat-edit-image-wrapper">
					<label for="chat-new-image" class="chat-edit-image-label">
						<i class="fa-solid fa-image"></i> <span class="chat-edit-image-type">Add</span> image <span class="max-size">(Max 2MB)</span>
						<input type="file" class="chat-edit-image" id="chat-new-image" accept="image/png, image/jpg, image/jpeg">
					</label>
					
					<div class="chat-edit-image-preview"></div>
				</div>

				<a data-href="{{ path('app_user_modal', {'type': 'chat'}) }}" class="inmodal chat-edit-search">
					<i class="fa-solid fa-user-plus"></i> Add user
				</a>

				<div class="chat-edit-users">
					<div class="item default">
						<div class="item-left">
							<div class="item-left-image"></div>
							<div class="item-left-names">
								<p class="item-left-username"></p>
							</div>
						</div>
						<div class="item-right">
							<div class="item-right-remove">
								<i class="fa-solid fa-xmark"></i>
							</div>
						</div>
					</div>
				</div>
				<a href="{{ path('chat_new') }}" class="chat-edit-submit">Create</a>
			</div>
		</div>
	</div>
{% endblock %}
