<!doctype html>
<html lang="fr">
	<head>
		<title>@a2urbex</title>
		<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="manifest" href="../manifest.json">

		{% block javascripts %}
			{{ encore_entry_script_tags('app-script') }}
			{% set scriptName = getScriptName() %}
			{% if(scriptName) %}
				{{ encore_entry_script_tags(scriptName) }}
			{% endif %}
		{% endblock %}
		{% block stylesheets %}
    		{{ encore_entry_link_tags('app-style') }}
			{% set styleName = getStyleName() %}
			{% if(styleName) %}
				{{ encore_entry_link_tags(styleName) }}
			{% endif %}
		{% endblock %}
	</head>
	<body 
		{% if app.request.attributes.get('_route') is defined %} id="{{ app.request.attributes.get('_route') }}" {% endif %}
		class="{% if app.user %}user{% else %}nouser{% endif %}"
	>
		<header>
			<nav class="navbar navbar-expend-md navbar-dark fixed-top">
				<div class="navbar-collapse" id="navbarCollapse">
					<div class="filter"></div>
					<div class="discord_desktop">
						<a href="https://discord.com/invite/MDbDPJqxZV" target="_blank">
							<i class="fa-brands fa-discord"></i>
						</a>
					</div>
					<div class="logo">
						<a href="{% if app.user %}{{ path('app_location_index') }}{% else %}{{ path('app_home') }}{% endif %}">
							<i class="fas fa-globe-europe"></i>a2urbex
						</a>
					</div>
					{% if app.user %}
						{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_USER' in app.user.roles %}
							<div class="settings">
								<div class="dropdown">
									<button class="dropbtn">
									<div class="dropbtn-image" {% if app.user.image %}style="background-image:url('{{app.user.image}}')"{% endif %}></div>
										{{ app.user.firstname }}
									</button>
									<div class="dropdown-content">
										<div class="menu_header">
											<div class="menu_icon">
												<div class="menu_icon-image" {% if app.user.image %}style="background-image:url('{{app.user.image}}')"{% endif %}></div>
											</div>
											<div class="menu_data">
												<p>Logged in as</p>
												{{ app.user.username }}</div>
										</div>
										<a href="{{ path('app_location_index') }}">
											<i class="fa fa-fw fa-location-dot"></i>
											Locations

										</a>
										<a href="{{ path('new_location') }}">
											<i class="fa-solid fa-location-pin-lock"></i>
											My Locations

										</a>
										<a href="{{ path('app_favorite') }}">
											<i class="fa fa-fw fa-heart"></i>
											My favorites

										</a>
										<a href="{{ path('app_friend') }}">
											<i class="fa-solid fa-users"></i>
											My friends

										</a>
										<a href="" id="clear-cache-button">
											<i class="fa-solid fa-rotate-right"></i>
											Refresh

										</a>
										<a class="discord_mobile" href="https://discord.com/invite/MDbDPJqxZV" target="_blank">
											<i class="fa-brands fa-discord"></i>
											Discord</a>

										{% if 'ROLE_ADMIN' in app.user.roles %}
											<a href="{{ path('admin') }}">
												<i class="fa-solid fa-gear"></i>
												Admin

											</a>
										{% endif %}

										<a href="{{ path('app_user', {'key': hashUsr(app.user.id)}) }}">
											<i class="fa-solid fa-lock"></i>
											Account
										</a>

										<a class="menu_logout" href="{{ path('app_logout') }}">
											<i class="fa fa-fw fa-sign-out"></i>
											Logout

										</a>
									</div>
								</div>
							</div>
						{% endif %}
					{% else %}
						<a class="login_register" href="{{ path('app_login') }}">Connect</a>
					{% endif %}

				</div>
			</nav>
		</header>

		{% if notification is defined and notification is not null %}
			<div class="notification {{ notification.class is defined ? notification.class : '' }}">
				<p>{{ notification.text }}</p>
				<a class="notification-close">
					<i class="fa-solid fa-xmark"></i>
				</a>
			</div>
		{% endif %}
		
		{% block content %}{% endblock %}

		<div id="bottom-right-action">
			{% if app.user %}
				{% include 'chat/index.html.twig' %}
			{% endif %}
			{% block action %}{% endblock %}
		</div>

		<footer>
			<div class="love">Your Exploration Co-Pilot.</div>
			<a class="contact_desktop" href="{{ path('app_links') }}">Contact</a>
			<a class="contact_mobile" href="{{ path('app_links') }}">
				<i class="fa-solid fa-envelope"></i>
			</a>
		</footer>

		<script>
			const websocketUrl = "{{ websocketUrl() }}"
		</script>		
		{% if app.environment == 'dev' %}
		<script id="__bs_script__">
			(function() {
				try {
					const script = document.createElement('script')
					if ('async') script.async = true
					script.src = window.location.protocol + '//HOST:{{ getEnv('WEBPACK_PORT') }}/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname)
					if (document.body) document.body.appendChild(script)
					else if (document.head)	document.head.appendChild(script)
				} catch (e) {
					console.error("Browsersync: could not append script tag", e);
				}
			})()
		</script>
		{% endif %}
	</body>
</html>
