<!doctype html>
<html lang="fr">
	<head>
		<title>@a2urbex</title>
		<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="manifest" href="../manifest.json">
		<link href="{{ asset('assets/build/bundle.css') }}" rel="stylesheet">
		<script src="{{ asset('assets/build/bundle.js') }}"></script>
	</head>
	<header>
		<nav class="navbar navbar-expend-md navbar-dark fixed-top">
			<div class="navbar-collapse" id="navbarCollapse">
				<div class="filter"></div>
				<div class="discord_desktop">
					<a href="https://discord.com/invite/MDbDPJqxZV" target="_blank">
						<i class="fa-brands fa-discord"></i>
					</a>
				</div>
				<div class="logo">
					<a {% if app.user %} href="/locations" {% else %} href="/" {% endif %}>
						<i class="fas fa-globe-europe"></i>a2urbex</a>
				</div>
				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_USER' in app.user.roles %}
						<div class="settings">
							<div class="dropdown">
								<button class="dropbtn">
									<i class="fa fa-user"></i>
									{{ app.user.firstname }}
								</button>
								<div class="dropdown-content">
									<div class="menu_header">
										<div class="menu_icon">
											<i class="fa fa-user"></i>
										</div>
										<div class="menu_data">
											<p>Logged in as</p>
											{{ app.user.firstname }}#{{ app.user.id }}</div>
									</div>
									<a href="{{ path('app_location_index') }}">
										<i class="fa fa-fw fa-location-dot"></i>
										Locations

									</a>
									<a href="{{ path('new_location') }}">
										<i class="fa-solid fa-location-pin-lock"></i>
										My Locations

									</a>
									<a href="{{ path('app_favorite') }}">
										<i class="fa fa-fw fa-heart"></i>
										My favorites

									</a>
									<a href="{{ path('app_friend') }}">
										<i class="fa-solid fa-users"></i>
										My friends

									</a>
									{# <a href="{{ path('app_general_chat') }}">
																																																																																																													<i class="fa-solid fa-comment"></i>
																																																																																																													General Chat
																																																																																																			
																																																																																																												</a> #}
									<a href="" id="clear-cache-button">
										<i class="fa-solid fa-rotate-right"></i>
										Refresh

									</a>
									<a class="discord_mobile" href="https://discord.com/invite/MDbDPJqxZV" target="_blank">
										<i class="fa-brands fa-discord"></i>
										Discord</a>

									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{ path('admin') }}">
											<i class="fa-solid fa-gear"></i>
											Admin

										</a>
									{% endif %}

									<a href="{{ path('app_account') }}">
										<i class="fa-solid fa-lock"></i>
										Account
									</a>

									<a class="menu_logout" href="{{ path('app_logout') }}">
										<i class="fa fa-fw fa-sign-out"></i>
										Logout

									</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="approval">
							Your account is still waiting for approval please wait.. or contact us
							<a target="blank" href="https://www.instagram.com/a2urbex/">@a2urbex</a>
						</div>
					{% endif %}
				{% else %}
					<a class="login_register" href="{{ path('app_login') }}">Connect</a>
				{% endif %}

			</div>
		</nav>
	</header>
	<body {% if app.request.attributes.get('_route') is defined %} id="{{ app.request.attributes.get('_route') }}" {% endif %}>
		<footer>
			<div class="love">Your Exploration Co-Pilot.</div>
			<a class="contact_desktop" href="{{ path('app_reach_us') }}">Contact</a>
			<a class="contact_mobile" href="{{ path('app_reach_us') }}">
				<i class="fa-solid fa-envelope"></i>
			</a>
		</footer>
		{% block content %}{% endblock %}
	</body>
</html>
