<!doctype html>
<html lang="fr">
	<head>
		<title>@a2urbex</title>

		<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}"/>
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/favorite.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/maps.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		{# PWA DATA #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<link rel="manifest" href="../manifest.json">
		<script src="../assets/js/notifications.js"></script>
		<script src="../assets/js/registersw.js"></script>

	</head>
	<header>
		<nav class="navbar navbar-expend-md navbar-dark fixed-top">
			<div class="navbar-collapse" id="navbarCollapse">
				<div class="filter"></div>

				<div class="logo">
					<a {% if app.user %} href="/locations" {% else %} href="/" {% endif %}>
						<i class="fas fa-globe-europe"></i>a2urbex</a>
				</div>
				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_USER' in app.user.roles %}
						<div class="settings">
							<div class="dropdown">
								<button class="dropbtn">
									<i class="fa fa-user"></i>
									{{ app.user.firstname }}
								</button>
								<div class="dropdown-content">
									<div class="menu_header">
										<div class="menu_icon">
											<i class="fa fa-user"></i>
										</div>
										<div class="menu_data">
											<p>Logged in as</p>
											{{ app.user.firstname }}</div>
									</div>
									<a href="{{ path('app_location_index') }}">
										<i class="fa fa-fw fa-location-dot"></i>
										Locations

									</a>
									<a href="{{ path('new_location') }}">
										<i class="fa-solid fa-location-pin-lock"></i>
										My Locations

									</a>
									<a href="{{ path('app_favorite') }}">
										<i class="fa fa-fw fa-heart"></i>
										My favorites

									</a>
									<a href="{{ path('app_general_chat') }}">
										<i class="fa-solid fa-comment"></i>
										General Chat

									</a>
									<a href="" id="clear-cache-button">
										<i class="fa-solid fa-rotate-right"></i>
										Refresh

									</a>

									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{ path('admin') }}">
											<i class="fa-solid fa-gear"></i>
											Admin

										</a>
										<a href="{{ path('app_account_password') }}">
											<i class="fa-solid fa-lock"></i>
											Password

										</a>
									{% else %}
										<a href="{{ path('app_account_password') }}">
											<i class="fa-solid fa-lock"></i>
											Password

										</a>
									{% endif %}

									<a class="menu_logout" href="{{ path('app_logout') }}">
										<i class="fa fa-fw fa-sign-out"></i>
										Logout

									</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="approval">
							Your account is still waiting for approval please wait.. or contact us
							<a target="blank" href="https://www.instagram.com/a2urbex/">@a2urbex</a>
						</div>
					{% endif %}
				{% else %}
					<a class="login_register" href="{{ path('app_login') }}">Connect</a>
				{% endif %}

			</div>
		</nav>
	</header>
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{ asset('assets/js/app.js') }}"></script>
		<script src="{{ asset('assets/js/maps.js') }}"></script>
		<script src="{{ asset('assets/js/user.js') }}"></script>

		<footer>
			<div class="love">Made with ❤️ by
				<a target="blank" href="https://github.com/clementp0">Clement Po</a>
				&
				<a target="blank" href="https://github.com/LahaxeHugo">LahaxeHugo</a>
			</div>
			<p id="last-commit-id"></p>
		</footer>
		<script>
		</script>
		<style>
		.login_register{
    		background-color: #007bff;
    		font-size: 13px;
    		padding: 3px 10px 3px 10px;
    		border-radius: 40px;
			transition: background-color 0.5s ease;
		}
		.login_register:hover{
    		background-color: #0f5fb4;
			transition: background-color 0.5s ease;
		}

			.approval {
				color: white;
				background-color: #007bff;
				z-index: 2;
				position: relative;
				width: 98vw;
				border-radius: 5px;
				text-align: center;
				padding: 3px;
				margin-left: -10px;
			}
			.approval a {
				color: white;
				font-weight: 700;
			}
			.approval a:hover {
				color: white;
			}

			.logo a {
				color: #d4d4d4;
			}
			.logo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #d4d4d4;
				font-weight: 500;
				font-size: 0.875rem;
			}

			body {
				min-height: 100vh;
				position: relative;
			}
			iframe {
				margin: auto;
				text-align: center;
				width: 100vw;
				height: 50vh;
			}

			footer {
				padding: 10px;
				font-size: 0.895rem;
				position: absolute;
				bottom: 0;
				display: flex;
				text-align: center;
				width: 100%;
				justify-content: center;
				box-shadow: inset 0 1px 0 #525252;
				background-color: #222222;
			}

			footer a {
				color: #60a5fa;
			}


			.settings {
				position: relative;
			}

			.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropbtn {
				background-color: transparent;
				border: none;
				color: #adadad;
				font-size: 14px;
				cursor: pointer;
				padding: 0;
			}
			.dropbtn > i{
    padding: 7px;
    margin-right: 5px;
				background-color: #404040;
				color: #737373;
				border-radius: 4px;
			}

			.dropdown-content {
				display: none; 
				position: absolute;
				z-index: 1;
				top: 100%;
				min-width: 190px;
				right: 0;
				background-color: #303030;
				border: #525252 1px solid;
				border-radius: 6px;
				box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
				color: #d4d4d4;
			}

			.menu_header {
				display: flex;
				padding: 7px;
				border-bottom: #525252 1px solid;
			}
			.menu_header > div > i {
				padding: 10px;
				background-color: #404040;
				color: #737373;
				margin: 5px;
				border-radius: 4px;
			}
			.menu_data {
				font-size: 15px;
				text-align: left;
			}
			.menu_data > p {
				margin: 5px 0 0;
				font-size: 10px;
				color: gray;
			}

			a.menu_logout {
				border-top: #525252 1px solid;
			}


			.dropdown-content a {
				text-align: left;
				color: #d4d4d4;
				display: block;
				padding: 8px 16px;
				text-decoration: none;
				font-size: 14px;
				transition: background-color 0.2s ease-out;
			}

			.dropdown-content > a > i {
				margin-right: 5px;
			}

			.dropdown-content a:hover {
				background-color: #222222;
			}

			.dropdown:hover .dropdown-content {
				display: block;
				opacity: 1;
				transform: translateY(0);
				-webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
				transition: opacity 0.2s ease-out, transform 0.2s ease-out;
			}

			@media(max-width: 768px) {
				.dropdown {
					display: block;
				}
				.dropdown-content {
					position: static;
					display: none;
				}
				.dropdown-content a {
					display: block;
					padding: 10px 20px;
				}
				.dropdown:hover .dropdown-content {
					display: block;
					-webkit-transition: none;
					transition: none;
				}
			}
		</style>

		<script>

			const clearCacheButton = document.getElementById('clear-cache-button');
clearCacheButton.addEventListener('click', async () => {
try {
await caches.delete('a2urbex');
console.log('Cache deleted successfully');
location.reload(true);
} catch (err) {
console.error('Error deleting cache:', err);
}
});
		</script>

		{% block content %}{% endblock %}
	</body>
</html></html>
