<!doctype html>
<html lang="fr">
	<head>
		<title>@a2urbex</title>
		<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="manifest" href="../manifest.json">

		{% block javascripts %}
			{{ encore_entry_script_tags('app-script') }}
			{% set scriptName = getScriptName() %}
			{% if(scriptName) %}
				{{ encore_entry_script_tags(scriptName) }}
			{% endif %}
		{% endblock %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app-style') }}
			{% set styleName = getStyleName() %}
			{% if(styleName) %}
				{{ encore_entry_link_tags(styleName) }}
			{% endif %}
		{% endblock %}
	</head>
	<body {% if app.request.attributes.get('_route') is defined %} id="{{ app.request.attributes.get('_route') }}" {% endif %} class="{% if app.user %}user{% else %}nouser{% endif %}">
		<header>
			<nav class="navbar navbar-expend-md navbar-dark fixed-top">
				<div class="navbar-collapse" id="navbarCollapse">
					<div class="navbar-content">
						<div class="navbar-logo">
							<img src="https://a2urbex.eu/logoa2urbex.png" alt="a2urbex small logo">
							<a class="bold" href="{% if app.user %}{{ path('app_location_index') }}{% else %}{{ path('app_home') }}{% endif %}">
								a2urbex</a>
						</div>
						{% if app.user %}
							<span class="navbar-separator"></span>
							<a class="navbar-item regular m-none" href="{{ path('app_location_index') }}">Locations</a>
							<a class="navbar-item new-link bold m-none" href="{{ path('new_location') }}">add location</a>
							<span class="navbar-separator m-none"></span>
							<a class="navbar-item regular m-none" href="{{ path('app_explorers') }}">Explorers</a>
						{% endif %}
					</div>

					{% if app.user %}
						<div class="navbar-content">
							{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_USER' in app.user.roles %}
								<a class="navbar-item frends" href="{{ path('app_friend') }}">
									<i class="fa-solid fa-users"></i>
								</a>
								<a class="navbar-item favorites" href="{{ path('app_favorite') }}">
									<i class="fa fa-fw fa-heart"></i>
								</a>

								<div class="settings">
									<div class="dropdown">
										<button class="dropbtn">
											<div class="dropbtn-image" {% if app.user.image %} style="background-image:url('{{app.user.image}}')" {% endif %}></div>
										</button>
										<div class="dropdown-content">
											<div class="menu_header">
												<div class="menu_data">
													<p class="dropdown-content-logged bold">Logged in as</p>
													<p class="dropdown-content-name regular">{{ app.user.username }}</p>
												</div>
											</div>
											<span class="dropdown-content-separator"></span>
											<a class="dropdown-content-item regular desktop-none" href="{{ path('app_location_index') }}">Locations</a>
											<a class="dropdown-content-item new-link regular desktop-none add-mobile" href="{{ path('new_location') }}">Add location</a>
											<a class="dropdown-content-item regular desktop-none" href="{{ path('app_explorers') }}">Explorers</a>
											<a href="" id="clear-cache-button" class="dropdown-content-item regular">Refresh</a>
											{% if 'ROLE_ADMIN' in app.user.roles %}<a  class="dropdown-content-item regular" href="{{ path('admin') }}">Admin</a>{% endif %}
											<a href="{{ path('app_user', {'key': hashUsr(app.user.id)}) }}"  class="dropdown-content-item regular">My account</a>
											<span class="dropdown-content-separator"></span>
											<a class="dropdown-content-logout bold" href="{{ path('app_logout') }}">Logout</a>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					{% else %}
						<a class="login_register" href="{{ path('app_login') }}">Connect</a>
					{% endif %}

				</div>
			</nav>
		</header>

		{% if notification is defined and notification is not null %}
			<div class="notification {{ notification.class is defined ? notification.class : '' }}">
				<p>{{ notification.text }}</p>
				<a class="notification-close">
					<i class="fa-solid fa-xmark"></i>
				</a>
			</div>
		{% endif %}

		{% block content %}{% endblock %}

		{% block map %}{% endblock %}

		<div id="bottom-right-action">
			{% if app.user %}
				{% include 'chat/index.html.twig' %}
			{% endif %}
			{% block action %}{% endblock %}
		</div>

		<footer>
			<div class="love">Your Exploration Co-Pilot.</div>
			<a class="contact_desktop" href="{{ path('app_links') }}">Contact</a>
			<a class="contact_mobile" href="{{ path('app_links') }}">
				<i class="fa-solid fa-envelope"></i>
			</a>
		</footer>

		<script>
			const websocketUrl = "{{ websocketUrl() }}"
		</script>
		{% if app.environment == 'dev' %}
			<script id="__bs_script__">
				(function () {
try {
const script = document.createElement('script')
if ('async') 
script.async = true





script.src = window.location.protocol + '//HOST:   {{ getEnv('WEBPACK_PORT') }}/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname)
if (document.body) 
document.body.appendChild(script)
 else if (document.head) 
document.head.appendChild(script)





} catch (e) {
console.error("Browsersync: could not append script tag", e);
}
})()
			</script>
		{% endif %}
	</body>
</html>
