<div class="pin-open-search toggle">
    <i class="fa fa-fw fa-bars"></i>
</div>

<div class="pin-search-wrapper">
    <div class="pin-search custom-scroll">
        {{ form(search_form) }}
       
        <a class="pin-search-reset" href="{% if map_type is defined %}{{ path('app_map_filter') }}{% else %}{{ path('app_location_index') }}{% endif %}">
            <i class="fa-sharp fa-solid fa-trash"></i>
        </a>
        <p class="pin-results">Displaying <b>{{ total_result }}</b> result{{ total_result > 1 ? 's' : '' }}</p>

        {% if onlineUsers is defined %}
            {{ include('security/online.html.twig') }}
        {% endif %}
    </div>
</div>