{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
    <h1>Locations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>Pid</th>
                <td>{{ location.pid }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ location.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ location.url }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ location.image }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ location.lon }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ location.lat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_locations_index') }}">back to list</a>

    <a href="{{ path('app_locations_edit', {'id': location.id}) }}">edit</a>

    {{ include('locations/_delete_form.html.twig') }}
{% endblock %}
