{% extends 'base.html.twig' %}
{% block content %}
	<div class="fav-list">
		{% for item in favorites %}
			<div class="fav-item">
				<a href="{{ path('app_favorite_locations', {'key': hashFav(item.fav.id)}) }}">
					<p class="fav-item-name">{{ item.fav.name }}</p>
					<p class="fav-item-loc">{{ item.count }} location{% if item.count > 1 %}s{% endif %}.</p>
					<div class="fav-item-user">
						{% if item.fav.users|length > 1 %}
								<div class="fav-item-user-list">
								<span class="fav-item-user-text">Shared with :</span>
								{% for u in item.fav.users %}
									{% if u.id != app.user.id %}
										<div title="{{u.username}}"  class="fav-item-user-list-pp">{% if u.image %} <img src="{{ u.image }}">{% endif %}</div>
									{% endif %}
								{% endfor %}
								</div>
						{% endif %}
					</div>
					<div class="fav-item-edit m-none">
						<a href="{{ path('app_user_modal', {'type': 'fav', 'param': item.fav.id}) }}" class="inmodal fav-item-share-user{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-user-plus"></i>
						</a>
						<a class="fav-item-copy-link" data-toggle="tooltip" href="{{ path('app_favorite_locations', {'key': hashFav(item.fav.id)}) }}">
							<i class="fa-solid fa-link"></i>
						</a>
						{% if item.fav.share %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock-open"></i>
							</a>
						{% else %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock"></i>
							</a>
						{% endif %}
						{% if  item.fav.disabled %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye-slash"></i>
							</a>
						{% else %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye"></i>
							</a>
						{% endif %}
						<span></span>
						<a href="{{ path('app_favorite_delete', {'id': item.fav.id}) }}" class="fav-item-delete{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</div>
				</a>

				<div class="dropdown-favorite desktop-none">
					<button class="dropbtn">
						<i class="fa-solid fa-circle-plus"></i>
					</button>
					<div class="dropdown-favorite-content fav-item-edit">
					<p class="dropdown-favorite-title">{{ item.fav.name }}</p>
					<div class="dropdown-favorite-content-buttons">
						<a href="{{ path('app_user_modal', {'type': 'fav', 'param': item.fav.id}) }}" class="inmodal fav-item-share-user{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-user-plus"></i>
						</a>
						<a class="fav-item-copy-link" data-toggle="tooltip" href="{{ path('app_favorite_locations', {'key': hashFav(item.fav.id)}) }}">
							<i class="fa-solid fa-link"></i>
						</a>
						{% if item.fav.share %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock-open"></i>
							</a>
						{% else %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock"></i>
							</a>
						{% endif %}
						{% if  item.fav.disabled %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye-slash"></i>
							</a>
						{% else %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye"></i>
							</a>
						{% endif %}
						<span></span>
						<a href="{{ path('app_favorite_delete', {'id': item.fav.id}) }}" class="fav-item-delete{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-trash"></i>
						</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
