{% extends 'base.html.twig' %}
{% block content %}
	<div class="fav-list">
		{% for item in favorites %}
			<div class="fav-item">
				<a href="{{ path('app_favorite_locations', {'key': hashFav(item.fav.id)}) }}">
					<p class="fav-item-name">{{ item.fav.name }}</p>
					<p class="fav-item-loc">{{ item.count }} location{% if item.count > 1 %}s{% endif %}.</p>
					<p class="fav-item-user">
						{% if item.fav.users|length > 1 %}
							
								{% set userIteration = 0 %}
								<div class="fav-item-user-list">
								<span class="fav-item-user-text">Shared with :</span>
								{% for u in item.fav.users %}
									{% if u.id != app.user.id %}
										{% set userIteration = userIteration + 1 %}
										{# OLD DISPLAY METHOD 
										{% if userIteration > 1 %}
											<span class="span-coma">,</span>
										{% endif %}
										<span>{{u.firstname}}#{{u.id}}</span> #}
										<div title="{{u.firstname}}#{{u.id}}"  class="fav-item-user-list-pp">{% if u.image %} <img scr="{{ u.image }}">{% endif %}</div>
									{% endif %}
								{% endfor %}
								</div>
						{% endif %}
					</p>
				</a>

				<div class="dropdown-favorite">
					<button class="dropbtn">
						<i class="fa-solid fa-ellipsis-vertical"></i>
					</button>
					<div class="dropdown-favorite-content">
					
						<a href="{{ path('app_user_modal', {'fav': item.fav.id}) }}" class="inmodal fav-item-share-user{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-user-plus"></i>
							Add User
						</a>
						<a class="fav-item-copy-link" data-toggle="tooltip" href="{{ path('app_favorite_locations', {'key': hashFav(item.fav.id)}) }}">
							<i class="fa-solid fa-link"></i>
							Share link
						</a>
						{% if item.fav.share %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock-open"></i>
								Public
							</a>
						{% else %}
							<a href="{{ path('app_favorite_share_link', {'id': item.fav.id}) }}" class="fav-item-share-link{{ item.fav.master ? ' disabled' : '' }}">
								<i class="fa-solid fa-lock"></i>
								Private
							</a>
						{% endif %}
						{% if  item.fav.disabled %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye-slash"></i>
								Hidden
							</a>
						{% else %}
							<a href="{{ path('app_favorite_disable', {'id': item.fav.id}) }}" class="fav-item-disable">
								<i class="fa-solid fa-eye"></i>
								Visible
							</a>
						{% endif %}
						<a href="{{ path('app_favorite_delete', {'id': item.fav.id}) }}" class="fav-item-delete{{ item.fav.master ? ' disabled' : '' }}">
							<i class="fa-solid fa-trash"></i>
							Delete
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
