{% extends 'base.html.twig' %}

{% block title %}Favorite Page{% endblock %}

{% block content %}
<div class="friend-wrapper">
    <a href="{{ path('app_user_modal') }}" class="inmodal add-friend">Add Friend</a>

    <div class="friend-requests">
        {% for friend in pending %}
            <div class="friend-item">
                {% set key = "#{friend.user.id}#{hashkey}" %}
                <a href="{{ path('app_user', {'key': key | hashids_encode}) }}" class="friend-item-profil">
                    <div class="friend-item-profil-left"><i class="fa-solid fa-user"></i></div>
                    <div class="friend-item-profil-right">
                        <p class="friend-item-name">{{ friend.user.firstname }} {{ friend.user.lastname|first }}</p>
                        <p class="friend-item-username">{{ friend.user.firstname }}#{{ friend.user.id }}</p>
                    </div>
                </a>
                <div class="friend-item-action">
                    <a href={{ path('app_friend_accept', {id: friend.user.id}) }} class="friend-accept"><i class="fa-solid fa-check"></i></a>
                    <a href={{ path('app_friend_decline', {id: friend.user.id}) }} class="friend-decline"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        {% endfor %}
        {% for friend in waiting %}
            <div class="friend-item">
                {% set key = "#{friend.friend.id}#{hashkey}" %}
                <a href="{{ path('app_user', {'key': key | hashids_encode}) }}" class="friend-item-profil">
                    <div class="friend-item-profil-left"><i class="fa-solid fa-user"></i></div>
                    <div class="friend-item-profil-right">
                        <p class="friend-item-name">{{ friend.friend.firstname }} {{ friend.friend.lastname|first }}</p>
                        <p class="friend-item-username">{{ friend.friend.firstname }}#{{ friend.friend.id }}</p>
                    </div>
                </a>
                <div class="friend-item-action">
                    <a href={{ path('app_friend_cancel', {id: friend.friend.id}) }} class="friend-cancel"><i class="fa-solid fa-xmark"></i></a>
                    <div class="waiting">Waiting...</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="friends">
        {% for friend in friends %}
            <div class="friend-item">
                {% set key = "#{friend.friend.id}#{hashkey}" %}
                <a href="{{ path('app_user', {'key': key | hashids_encode}) }}" class="friend-item-profil">
                    <div class="friend-item-profil-left"><i class="fa-solid fa-user"></i></div>
                    <div class="friend-item-profil-right">
                        <p class="friend-item-name">{{ friend.friend.firstname }} {{ friend.friend.lastname|first }}</p>
                        <p class="friend-item-username">{{ friend.friend.firstname }}#{{ friend.friend.id }}</p>
                    </div>
                </a>
                <div class="friend-item-action">
                    <a href={{ path('app_friend_remove', {id: friend.friend.id}) }} class="friend-remove"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
